/* GOOGLE FONTS */
/* font-family: 'Poiret One', cursive; */
/* font-family: 'Josefin Sans', sans-serif; */

/* CUSTOM CSS */

html { 
	margin:0;
	padding:0;
	background: url(../img/bg3.jpg) no-repeat center fixed; 
	-webkit-background-size: cover; /* pour Chrome et Safari */
	-moz-background-size: cover; /* pour Firefox */
	-o-background-size: cover; /* pour Opera */
	background-size: cover; /* version standardisée */
}

body{min-width:400px;background:none !important;}
body, h1, h2, h3, h4, p, div, span, a{color:black}
body h1,body h2,body h3,body h4,body .navbar-nav a{font-family: 'Gafata', sans-serif;}
h1,h2,h3,p{color:white; margin:0;}
body .clear{display:block;clear:both;margin:0px;padding:0px;}

.divGallerie{margin:45px 0;}
#FT_Welcome, #FT_Galleries, #FT_GalTitle, #FT_Bio, p, h1,h2,h3{font-family: 'Poiret One', cursive !important; color:white;}
#FT_GalTitle{color:white;width:73%;display:block;}
#FT_Galleries{width:50%;}
#FT_Galleries a{color:white !important;}
#FT_CategList{width:100%;display:block;}
#FT_CategList li{text-align:center;font-size:50px;}
p{font-family: 'Josefin Sans', sans-serif !important;}
.welcome p, .biographie p, .contact p{font-size:18px;}
ul li a{color:white;}
ul li a:hover{color:#FFF;}

.introText{text-align:justify;}

/* navigation menu */
.navbar{height:71px;margin:0px;border-radius:0px;}
.navbar-inverse{background:#FFF;border:none;}
.navbar-inverse .navbar-nav {float:right;}
.navbar-inverse .navbar-nav > li{padding:10px;height:50px;list-style-type:none;}
.navbar-inverse .navbar-nav > li > a{color:black;text-shadow:none;padding:0px;line-height:35px;font-size:18px;}
.navbar-inverse .navbar-nav > .active > a{background:none;text-decoration:underline;box-shadow:none;color:black;}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus{background:none;text-decoration:underline;color:black;}
.navbar-inverse .navbar-toggle{margin-top:20px;background:#000;}
.navbar-inverse .navbar-collapse{position:absolute;right:0;z-index:99;background:white;}
.navbar-brand{padding:0px;margin:10px 0 0 5px}
.navbar-brand h1{display:none;}
.navbar-nav{margin:9.5px 20px;}
/* navigation menu */

/* gallerie */
.row ul{padding:0;list-style-type:none;}
.row .picture{background:black;border-radius:4px;margin:20px;padding:2px; position:relative;}
.row .picture .dark{display:none;position:absolute; top:0; left:0; width:100%; height:100%;background:black;opacity:0.8;}
.row .picture .dark:hover,.container-fluid .row .picture .picComments:hover{cursor:pointer;}
.row .picture .picComments{display:none;width:32px;height:32px;position:absolute;bottom:10px;right:10px;z-index:999;}
.row .picture .gallImg{width:100%;}
.pp_details{display:none;}
.pp_left, .pp_middle, .pp_right, div.pp_default .pp_content, div.light_rounded .pp_content{background:none!important;}
/* gallerie */

/*validations*/
input.invalid, textarea.invalid{border-color:red !important;box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(250, 0, 0, 0.6) !important;}
input.valid, textarea.valid{border-color:green !important;box-shadow:0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(0, 255, 38, 0.6) !important;}
div#submitButton:hover{
	background-color:#EBEBEB;
	border-color:#ADADAD;
	color:#333;
}
div#submitButton{
	-moz-user-select: none;
    background-image: none;
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 4px;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857;
    margin-bottom: 0;
    padding: 6px 12px;
    text-align: center;
    vertical-align: middle;
    white-space: nowrap;
	background-color: #FFFFFF;
    border-color: #CCCCCC;
    color: #333333;
}
#message{color:red;font-weight:bold;display:none;margin-top:20px;}
#message.MsgSent{color:green;}
#message.MsgNotSent{color:red;}
/*validations*/


/* MEDIA QUERIES */
/* MEDIA QUERIES */
/* MEDIA QUERIES */

@media screen and (max-width: 700px) {
	/*body, .navbar, .container-fluid, .row, .col-md-3,.col-md-4,.col-md-5,.col-md-6,.col-md-7,.col-md-8,.col-md-9,.col-md-10,.col-md-11,.col-md-12{width:300px!important;margin:0!important;padding:0!important;}
	.navbar-brand img{width:200px;margin-top:8px;}*/
	#FT_CategList li{font-size:18px;}
}

@media screen and (max-width: 1005px) {
	.introText{padding:0 35px;}
	#FT_Galleries ul li{padding: 0 35px;}
}

@media (max-width: 1035px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
		width:100%;
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
       display: none;
    }
    .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}

@media screen and (max-width: 775px) {
	.navbar-inverse .navbar-nav {float:none;clear:both;background:white;}
	.navbar-nav{margin:0;}
	.navbar-collapse{padding:0;}
}

/* MEDIA QUERIES FOR GALLERY IMAGES */
@media screen and (max-width: 2000px) {
	.row .picture .gallImg{height:250px;}
}
@media screen and (max-width: 1800px) {
	.row .picture .gallImg{height:230px;}
}
@media screen and (max-width: 1600px) {
	.row .picture .gallImg{height:210px;}
}
@media screen and (max-width: 1400px) {
	.row .picture .gallImg{height:180px;}
}
@media screen and (max-width: 1200px) {
	.row .picture .gallImg{height:160px;}
}
@media screen and (max-width: 1100px) {
	.row .picture .gallImg{height:130px;}
}
@media screen and (max-width: 1000px) {
	.row .picture .gallImg{height:100%;}
}